@model Article

@{
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger w-100">
            <p>@ViewBag.Error</p>
        </div>
    }
}

<form method="post" enctype="multipart/form-data">
    <div class="from-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Content"></label>
        <textarea id="editor" class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="from-group">
        <input type="hidden" asp-for="PhotoUrl" />
        <input type="hidden" asp-for="ViewCount" />
        
    </div>

    <div class="from-group d-flex justify-content-around align-items-center">

        <div class="from-group w-100 mt-2">

            <div class="from-group w-100 ">
                <label for="photo">Photo</label>

                <input type="file" name="Photo" class="form-control" id="photo" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>*
            </div>


            <div class="from-group w-100 mt-1 mb-2">
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"> </select>

            </div>
        </div>
        <div class="from-group w-100 mb-1">
            <select name="tagIds" multiple class="form-control m-2 mt-5">
                @foreach (var item in ViewData["Tags"] as List<Tag>)
                {
                    var result = Model.ArticleTag.Select(x => x.TagId).Contains(item.Id);

                    if (result)

                    {
                        <option selected value="@item.Id">@item.TagName</option>
                    }

                    else

                    {
                        <option value="@item.Id">@item.TagName</option>
                    }
                }
            </select>

        </div>
       
    </div>


    <input type="submit" value="Update" class="btn btn-info w-100" />


</form>

@section Scripts{
    <script src="//cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
  }
